@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(34, 34, 34);  ;
}
@font-face {
    font-family: 'Bebas Kai';
    src: url('/assets/fonts/BebasKai-Regular.ttf') format('truetype'),
         url('/assets/fonts/BebasKai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}